[Unit]
Description=State-of-Health Monitor for node-red
Requires=node-red.service
After=node-red.service

[Service]
Type=simple
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=%h/.node-red/scripts/soh-monitor.sh
WorkingDirectory=%h/.node-red
Restart=on-failure
ProtectSystem=full
